%ul#actions-tabs.nav.nav-tabs
  %li
    %a{:href => "#what-we-do"} Что делаем?
  %li.disabled
    %a{:href => "#where-we-fly"}
      Куда летим?
      %i.icon-refresh.rotate-cycle
  %li.disabled
    %a{:href => "#where-we-live"} Где живем?