#where-we-live.tab-pane
  .row-fluid
    .span12.where-we-live-item.open
      .row-fluid
        .span4
          %img{:alt => "200x150", "data-src" => "holder.js/200x150", :src => "", :style => "width: 200px; height: 150px;"}
        .span8
          %h4 Название отеля
          %table
            %tr
              %td.city
                Страна / Город
              %td.stars
                %span.icon-star
                %span.icon-star
                %span.icon-star-empty
                %span.icon-star-empty
                %span.icon-star-empty
            %tr
              %td{:colspan => "2"}
                %p 1 до гор, 2к до центра, 500 м до моря
            %tr
              %td{:colspan => "2"}
                %p
                  %span 3252
                  руб./ночь
      .hotel-item-content
        .span4.hotel-item-gallery
          .row-fluid
            .span6
              %img{:alt => "100x100", "data-src" => "holder.js/100x100", :src => "", :style => "width: 90px; height: 90px;"}
            .span6
              %img{:alt => "100x100", "data-src" => "holder.js/100x100", :src => "", :style => "width: 90px; height: 90px;"}
          .row-fluid
            .span6
              %img{:alt => "100x100", "data-src" => "holder.js/100x100", :src => "", :style => "width: 90px; height: 90px;"}
            .span6
              %img{:alt => "100x100", "data-src" => "holder.js/100x100", :src => "", :style => "width: 90px; height: 90px;"}
        %hr/
        .span8
          %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
          %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
  .row-fluid
    .span12.where-we-live-item
      .row-fluid
        .span4
          %img{:alt => "200x150", "data-src" => "holder.js/200x150", :src => "", :style => "width: 200px; height: 150px;"}
        .span8
          %h4 Название отеля
          %table
            %tr
              %td.city
                Страна / Город
              %td.stars
                %span.icon-star
                %span.icon-star
                %span.icon-star-empty
                %span.icon-star-empty
                %span.icon-star-empty
            %tr
              %td{:colspan => "2"}
                %p 1 до гор, 2к до центра, 500 м до моря
            %tr
              %td{:colspan => "2"}
                %p
                  %span 3252
                  руб./ночь
      .hotel-item-content
        .span4.hotel-item-gallery
          .row-fluid
            .span6
              %img{:alt => "100x100", "data-src" => "holder.js/100x100", :src => "", :style => "width: 90px; height: 90px;"}
            .span6
              %img{:alt => "100x100", "data-src" => "holder.js/100x100", :src => "", :style => "width: 90px; height: 90px;"}
          .row-fluid
            .span6
              %img{:alt => "100x100", "data-src" => "holder.js/100x100", :src => "", :style => "width: 90px; height: 90px;"}
            .span6
              %img{:alt => "100x100", "data-src" => "holder.js/100x100", :src => "", :style => "width: 90px; height: 90px;"}
        %hr/
        .span8
          %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
          %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
  .row-fluid
    .span12.where-we-live-item
      .row-fluid
        .span4
          %img{:alt => "200x150", "data-src" => "holder.js/200x150", :src => "", :style => "width: 200px; height: 150px;"}
        .span8
          %h4 Название отеля
          %table
            %tr
              %td.city
                Страна / Город
              %td.stars
                %span.icon-star
                %span.icon-star
                %span.icon-star-empty
                %span.icon-star-empty
                %span.icon-star-empty
            %tr
              %td{:colspan => "2"}
                %p 1 до гор, 2к до центра, 500 м до моря
            %tr
              %td{:colspan => "2"}
                %p
                  %span 3252
                  руб./ночь
      .hotel-item-content
        .span4.hotel-item-gallery
          .row-fluid
            .span6
              %img{:alt => "100x100", "data-src" => "holder.js/100x100", :src => "", :style => "width: 90px; height: 90px;"}
            .span6
              %img{:alt => "100x100", "data-src" => "holder.js/100x100", :src => "", :style => "width: 90px; height: 90px;"}
          .row-fluid
            .span6
              %img{:alt => "100x100", "data-src" => "holder.js/100x100", :src => "", :style => "width: 90px; height: 90px;"}
            .span6
              %img{:alt => "100x100", "data-src" => "holder.js/100x100", :src => "", :style => "width: 90px; height: 90px;"}
        %hr/
        .span8
          %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
          %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s